.about-hero-img{
    background-image: url('../images/contacts-hero-img.jpg');
}
.about-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: #0C9448;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.nav-menu .nav-link{
    color: white;
}
.nav-menu .nav-link:hover{
    text-decoration: underline;
}
.custom-select select{
    color: white;
}
.custom-select select:focus-visible {
    color:black;
}
.custom-select::after {
    content: url("../images/icons/whitedownarrow.png");

}
h2{
    width: 100%;
    text-align: center;
}

.contact-content{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    max-width: 1088px;
    width: 100%;

}
.contact-content > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

iframe .place-card {
    display: none
}
.contact-social-links a svg:hover path{
    fill: #0C9448;
    stroke: #0C9448;
}
.contact-social-links a svg:hover circle{

    stroke: #0C9448;
}
.contact-social-links a svg{
  width: 50px;
}