.about-hero-img{
    background-image: url('../images/offers-hero-img.jpg');
}
.about-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: #D7D823;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.nav-menu .nav-link{
    color: white;
}
.nav-menu .nav-link:hover{
    text-decoration: underline;
}
.custom-select select{
    color: white;
}
.custom-select select:focus-visible {
    color:black;
}
.custom-select::after {
    content: url("../images/icons/whitedownarrow.png");

}

.offers-content{
    display: flex;flex-direction: column;
    align-items: center;
    padding: 50px 130px;
}

.offers-content h2{
    font-family: "Helvetica Neue LT GEO Caps";
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    font-style: normal;
    text-align: center;
    color: #f4b619;
    margin-bottom: 80px;
}
.offers-container{
    display: flex;
    flex-wrap: wrap;
}
.offers-container .offer{margin-bottom: 63px;}
