:root {
    --primary-color: #D7D823;
    --overlay-color: #165DA7;
}
.hero{
    background-image: none;
    background: none;
}
.shops-hero-img{
    background-image: url('../images/shoppage.jpg');
}

.nav-menu .nav-link{
    color: white;
}
.nav-menu .nav-link:hover{
    text-decoration: underline;
}
.custom-select select{
    background: inherit;
    color: white;
}
.custom-select select:focus-visible {
    color:black;
}
.custom-select::after {
    content: url("../images/icons/whitedownarrow.png");

}


.shops-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: #F4B619;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.shops-search{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    padding: 50px 150px;
}
.shops-search h2{
    font-family: "Helvetica Neue LT GEO Caps";
font-size: 18px;
margin-bottom: 79px;

text-align: center;
color: #f4b619;
}
.shops-filters{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1px;
}
.shops-search-input{
    display: flex;
    position: relative;
    align-items: center;
   width: 815px;
   margin-right: 22px;
    
    height: 60px;
}
.shops-search-input input{
    width: 673px;
    padding-left: 94px;
    font-family: "Helvetica Neue LT GEO";
font-size: 16px;
color: #212121;
    height: 60px;
    border: none;
    border:1px solid #C9C9C9;
}
.shops-search-input input:focus{
    outline: none;
}
.shops-search-input input::placeholder{

    font-family: "Helvetica Neue LT GEO";
    font-size: 16px;
    

    color: #c9c9c9;

}
.shops-search-input::before{
content:'' ;
background-image: url(../images/icons/search.png);
background-size: cover;
background-repeat:no-repeat;
position: absolute;
left: 10px;
top:15px ;

width: 30px;
height: 30px;
opacity: 0.7;


}
.shops-search-input::after{
    content:'' ;

position: absolute;
left: 60px;
background-color: #C9C9C9;
height: 30px;
width: 2px;
opacity: 0.7;
}

.shops-search-input button{
    width: 142px;
    height: 60px;
    border: none;
    /* padding: 19px 44px; */
    background-color: #C9C9C9;
    font-family: "Helvetica Neue LT GEO Caps";
font-size: 18px;
cursor: pointer;
font-weight: normal;
text-align: center;
transition: 350ms ease;
color: #ffffff;
}
.shops-search-input button:hover{
    background-color: #F4B619;
}


.shops-filters select{
    position: relative;
    display: flex;
    padding: 19px 18px;
color: white;  
  cursor: pointer;
    width: 262px;
    height: 60px;
    text-align: center;
    
border: none;
border-radius: 0;
background: #c9c9c9;



}
.shops-filters select option{
cursor: pointer;
border-radius: none;

font-family: "Helvetica Neue LT GEO";
font-size: 14px;
font-weight: normal;
line-height: 18px;
font-style: normal;
text-align: left;
padding: 5px;
color: #ffffff;


}
.shops-filters select {
    font-family: "Helvetica Neue LT GEO Caps";
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    color: white;


}





.shops-filters select:focus{
    background-color: #F4B619;
  
    outline: none;
}
.shops-filters select::before{
    content: '';
    position: absolute;
    background: red;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}
.shops-filters select:focus{
    outline: none;
}

.shops-list{
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
}
.single-shop{
    display: flex;
    width: 324px;
    height: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 104px;
    opacity: 0.5;
    font-family: "Helvetica Neue LT GEO Caps";
font-size: 16px;
font-weight: normal;
border: 1px solid #E9E9E9;

cursor: pointer;

}
.single-shop:hover{
    opacity: 1;
}