@font-face {
    font-family: 'Helvetica Neue LT GEO Caps';

    src: url('../fonts/helvetica-neue-lt-geo-65-medium.ttf');
    font-weight: 500;

}

.store-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 140px;
    width: 100%;
    padding-left: 280px;
    padding-top: 50px;
}
.relative-brands{
  padding: 50px 0;
}
.carousel {
    max-width: 800px;
    width: 100%;
    /* position: relative; */
    margin: 0 ; 
  }
  

  .carousel img {
    width: 99%;
    height: 100%;
    object-fit: cover; 
  }
  ul{
    margin-bottom: 0;
  }
  .store-offer{

    left: -136px;
    top: 0;
    width: 412px;
    height: 303px;
    gap: 0;
    position: absolute;
    z-index: 1;
  }
  .offer-top{
    height: 190px;
  }
  .store-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
  }
  .store-desc  p {
    font-family: "Helvetica Neue LT GEO Caps";
    font-size: 18px;
    color: #212121;
    margin-bottom: 0;
  }
  .store-name  span {
    font-family: "Helvetica Neue LT GEO";
    font-size: 16px;
    
    color: #165DA7;
    margin-top: 11px;
  }
  .store-info div{
    display: flex;
    justify-content: flex-start;
    gap: 21px;
    margin-bottom: 14px;
    font-family: "Helvetica Neue LT GEO";
    font-size: 16px;

    color: #777777;

  }
  .store-info div img{
width: 25px;
height: 25px;

  }
  .relative-brand{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;align-items: center;
    gap: 100px;
    opacity: 0.5;
  }
  .brand-name{
    font-family: "Helvetica Neue LT GEO Caps";
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    font-style: normal;
    text-align: center;
    color: #212121;
  }
  .relative-brand:hover{
    opacity: 1;

  }
  
@media(width < 1446px){
  .store-container{
    padding-left: 110px;
  }
  .store-offer{
    width: 300px;
    padding: 0px;
    left: -50px;
  }
  .store-offer .offer-top{
padding: 20px; 
 }
  .store-offer .offer-bottom{
padding: 20px; 
 }


}
  
@media(width < 1333px){
  .store-container{
    padding-left: 80px;
    gap: 50px;
  }
 


}
  
@media(width < 1119px){
.store-container{
  flex-direction: column;
}
.store-desc{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

}
@media(width < 1076px){
    .shops-search{
        padding: 50px 80px;
    }
    .nav-menu .nav-link{
        color: #777777;
    }
    .custom-select select{
        color: #777777;
    }


}
@media(width < 780px){
    .shops-search{
        padding: 50px 80px;
    }
    .nav-menu .nav-link{
        color: #777777;
    }
    .custom-select select{
        color: #777777;
    }
   .offer{
    gap: 0;
   }
   .store-offer{
    width: 300px;
   }
   .store-desc{
    gap: 30px;
   }
    .offer-text h3{
      font-size: 14px;
    }
    .offer-text p{
      font-size: 14px;
    }

    .carousel-item{
      height: 500px;
      width: 100%;
    }


}
@media(width < 550px){
  .store-container{
    flex-direction: column-reverse;
   
    padding: 10px;
  }
  .store-offer{
    width: 50%;
    height: 240px;
    left: 0;
  }
  .store-desc{
    margin-top: 60px;
  }
  .store-info div{
    font-size: 14px;
  }
  .store-info div img{
    width: 15px;
    height: 15px;
  }
  .store-desc p{
    font-size: 16px;
  }

  .offer-top{
    height: 130px;
  }
  .store-offer .offer-top{
    padding: 5px;
  }
  .store-offer .offer-bottom{
    padding-top: 0px;
  }

}